.header {
  color: white;
  height: 100px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header > .logoContainer {
  margin: 10px;
}
.punkLogo {
  width: 200px;
  /* border: 1px solid red; */
}

.searchBar {
  background-color: #1c1c1e;
  height: 40px;
  display: flex;
  flex: 1;
  border-radius: 50px;
  align-items: center;
}

.searchIconContainer {
  margin: 10px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: #eee;
  font-size: 16px;
  display: flex;
  flex: 0.9;
}
.headerItems {
  display: flex;
  color: #a1a5b0;
}
.headerItems > p {
  margin: 10px;
}

.headerActions {
  display: flex;
  align-items: center;
}

.headerActions > div {
  margin: 10px;
}
.themeSwitchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1e;
  border-radius: 50%;
  padding: 10px;
  object-fit: contain;
}
.themeSwitchContainer > img{
  height: 20px;
}

.loginButton{
  background: linear-gradient(to right, #59f9b7, #66feea);
  padding: 15px 30px;
  border-radius: 50px;
  color: #000;
}